@import "tailwindcss";

/* basic global styles */
:root {
  --kalshi-green: #14b8a6;
  --muted: #6b7280;
}

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-white text-gray-900 antialiased;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* small utility to constrain content */
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* card */
.card {
  @apply bg-white rounded-2xl shadow-sm p-5;
}


@media(max-width: 900px) {
  /* small utility to constrain content */
  .container {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .probabilty-cta {
    display: flex;
    flex-direction: column !important;
  }
}
